<!-- templates/base.html -->
<!-- baseLogedIn.html es un template padre con el formato de las páginas una vez logeado
    para que todos los demas templates hereden-->


<header>
    <a href="{% url 'home' %}">Pagina Principal</a> |
    </header>

    
    {% block content %}
    <!-- aca es donde va el contenido de la página -->

        {% if request.user.is_authenticated %}
            <p>Hola {{ request.user }}!</p>
            <p><a href="{% url 'logout' %}">Cerrar sesión</a></p>
        {% else %}
            <p>No tienes una sesión iniciada</p>
            <a href="{% url 'login' %}">Iniciar sesión</a>
        {% endif %}

    {% endblock content %} <!-- end block es el final del contenido-->