<!-- templates/base.html -->
<!-- template base para todos los templates-->

<!DOCTYPE html>
<html>
    
{% load static %}
<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS Bootstrap -->
    {% block css %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.7/index.global.min.js'></script>
    {% endblock css %}    
    <title>{% block title %}Oh My Dog!{% endblock title %}</title>
   
</head>
<body>
  
    <!-- <a href="{% url 'home' %}">Pagina Principal</a> -->
    
    <header>
        
            <nav class="navbar navbar-expand-lg header-ar">
                <div class="container">
                    <p class="navbar-brand header__marca p-2">Oh my dog !!</p>

                    
                    <div class="collapse navbar-collapse show " id="navbarBasic">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Inicio</a>
                            </li>

                            {% if user.is_authenticated %}


                                {% if user.is_veterinario %}
                                    
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="{% url 'list_users' %}">Lista de Clientes</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="{% url 'client_registration' %}">Registrar cliente</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="{% url 'staffPanel' %}">Turnos</a>
                                    </li>

                            
                                    <ul>
                                        <form class="d-flex" method=POST action="{% url 'search_user' %}">
                                            {% csrf_token %}
                                            
                                            <input type="search" class="form-control me-2" placeholder="Buscar Cliente" aria-label="Search" name="buscado">
                                            
                                            <button class="btn btn-outline-secondary" type="submit">Buscar</button>
                                            
                                        </form>
                                    </ul>


                                

                                {% endif %}


                                </ul>
                                    <ul class="navbar-nav mb-2 mb-lg-0 ">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle icono-user role="button" data-bs-toggle="dropdown" aria-expanded="False">
                                                {% if user.is_veterinario %}
                                                    <i class="bi bi-person-circle">
                                                        Veterinario
                                                    </i>
                                                {% else %}
                                                    <i class="bi bi-person-circle">
                                                        {{ user }}
                                                    </i>
                                                {% endif %}
                                            </a>
                                            <ul class="dropdown-menu"> 
                                                <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a></li>
                                                <li>
                                                    <a class="dropdown-item" href="{% url 'password_change' %}">Cambiar Contraseña</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="{% url 'account_modif' %}">Modificar datos</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="{% url 'profile' user.id %}">Ver mi perfil</a>
                                                </li>

                                            </ul>
                                                
                                        
                                        </li>
                                    </ul>
                                </ul>
                        

                        {% else %}  <!-- user no autenticado-->

                            </ul>
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle icono-user" role="button" data-bs-toggle="dropdown" aria-expanded="False">
                                            <i class="bi bi-person-circle">
                        
                                            </i>
                                        </a>
                                        <ul class="dropdown-menu"> 
                                            <li><a class="dropdown-item" href="{% url 'login' %}">Iniciar Sesión</a></li>
                                        
                                        </ul>
                                            
                                    
                                    </li>
                                </ul>
                            </ul>

                        {% endif %}
                
                </div>
            </div>
        </nav> 


    </header>

{% block content %}
{% endblock content %}
{% if messages %}
        {% for message in messages %}
            <div class="alert alert-success  alert-dismissible fade show text-center " role="alert">
                <h3 class="display-3">{{ message }}</h3>
                <button type="button" class="btn-close fs-1 position-absolute top-50 start-0 translate-middle-y" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
{% endif %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

{% endblock js %}
</body>
</html>
