{% extends 'home.html' %}   <!-- baseLogedIn.html?? dado que lo hace el veterinario desde una sesion iniciada-->
{% load static %}

{% block content %}
<!--this show calendar for shifts -->
<main>

    <div class="container-md">
        <div class="row">
            <div class="col-md-12">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="text-center">Calendario de turnos</h2>
                                <hr>
                               
                                <form id="appointment-form" method="POST" action="{% url 'save_appointment' user.id %}">
                                    {% csrf_token %}
                                    <label for="date">Fecha:</label>
                                    <input type="date" name="date" id="date" required>
                                    
                                    <label for="time">Horario:</label>
                                    <select name="time" id="time" required>
                                      <option value="Mañana">Mañana</option>
                                      <option value="Tarde">Tarde</option>
                                    </select>

                                    <label for="dog">Perro:</label>
                                    <select name="dog" id="dog" required>
                                    {% for dog in dogs_shown %}
                                      <option value="{{dog.id}}">{{dog.name}}</option>
                                    {% endfor %}
                                    </select>
                                    
                                    <button type="submit" class="btn btn-primary btn-lg">Pedir turno</button>
                                </form>
                                  
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


{%endblock%}

