<title>Shifts Panel</title>
{% extends 'home.html' %}
{% load static %}
{% block content %}

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>


{% if user.is_authenticated %}

<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5 ">
  {% if items.exists %}
  <h1 class="text-center mt-5 mb-5">Pedidos de turnos</h1>

  <br>

  <div class="table-responsive">

    <table class="table table-bordered table-striped table-hover mx-auto">
      <thead>
        <tr>
          <th class="text-center" scope="col">Dia</th>
          <th class="text-center" scope="col">Turno</th>
          <th class="text-center" scope="col">Cliente</th>
          <th class="text-center" scope="col">Perro</th>
          <th class="text-center" scope="col">Mail</th>
          <th class="text-center" scope="col">Estado del turno</th>
          <th class="text-center" scope="col">Mensaje del veterinario</th>
        

        </tr>
      </thead>
      <tbody id="myTable">
        {% for item in items %}
        <tr>
          <td class="text-center">{{item.day}}</td>
          <td class="text-center">{{item.time}}</td>
          <td class="text-center">{{item.user.name}} {{item.user.surname}}</td>
          {% if item.dog == None %}
          <td class="text-center">Otro</td>
          {% else %}
          <td class="text-center">{{item.dog.name}}</td>
          {% endif %}
          <td class="text-center">{{item.user.email}}</td>




          {% if item.status == "Pendiente" %}
          <td class="text-center">
            Pendiente
          </td>
          {% else %}
          <td class="text-center">{{ item.status }}</td>

          {% endif %}


          <td class="text-center">{{item.description}}</td>

          
          </td>





        </tr>
        {% endfor %}


      </tbody>
    </table>
  </div>
  {% else %}
  <h4 class="text-center">No hay turnos pendientes</h1>
    {% endif %}

</div>

{% else %}

<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5">
  <h1 class="p-2  me-3">Primero debes iniciar sesión!</h1>
  <a href="{% url 'login' %}" class="btn btn-primary text-white">Iniciar sesión</a>
</div>

{% endif %}

<!--Staff Panel Search-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>



{% endblock %}