<!-- templates/home.html -->

{% extends 'home.html' %}   <!-- indica que hereda de base.html-->

{% block content %}


<main>
    

    <div class="container card-izq " >
    <div class="row row-1">
        <div class="col-md-9">
        <div class="card mb-3">
            <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                <h6 class="mb-0">Nombre</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                {{ dog.name }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                <h6 class="mb-0">Edad</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                {{ dog.age }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                <h6 class="mb-0">Sexo</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                {{ dog.sex }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                <h6 class="mb-0">Raza</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                {{ dog.breed }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                <h6 class="mb-0">Color</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                {{ dog.color }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                <h6 class="mb-0">Tamaño</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                {{ dog.size }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                <h6 class="mb-0">Descripción</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                {{ dog.description }}
                </div>
            </div>
            </div>
        </div>
        </div>
        

    <div class="container card-izq " >    
        <a href="{% url 'home' %}" class="btn btn-primary">Volver</a>
    </div>



</main>

{% endblock  %}