<!-- templates/home.html -->

{% extends 'base.html' %}   <!-- indica que hereda de base.html-->

{% block content %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>

<style>

    .text-right {
    text-align: right;
    }
    .text-left {
    text-align: left;
    }
</style>

<main>
    

    <div class="container card-izq ">
        <div class="row row-1">
            <div class="col-md-9">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                            <h6 class="mb-0">Nombre</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ dog.name }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Edad</h6>
                        </div>
                    <div class="col-sm-9 text-secondary">
                        {{ dog.calculate_age }}
                    </div>
                    </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Sexo</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ dog.sex }}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Raza</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ dog.breed }}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Color</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ dog.color }}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Tamaño</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ dog.size }}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Descripción</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ dog.description }}
                    </div>
                </div>
            </div>
            

    
        </div>

        

    

<div>
     
    <div class="text-right" >    
        <a href="{% url 'dog_modification' dog_id=dog.id user_owner_id=user_owner.id %}" class="btn btn-primary">Modificar datos de perro</a>
        
        {% if user.is_veterinario %} 

            {% if not dog.hidden %}
                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#hide_dog" id="hide_or_show_dog_button">
                    Ocultar perro
                </button>
                
                <!-- Modal -->
                <div class="modal" id="hide_dog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Perro ocultado satisfactoriamente</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        Recargue la página para ver los cambios aplicados
                        </div>
                    </div>
                    </div>
                </div>
                <!-- Fin de Modal -->
            <!-- Fin de perro escondido-->
            {% else %}
                <!-- si el perro está oculto -->
                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#show_dog" id="hide_or_show_dog_button">
                    Mostrar perro
                </button>
                
                <!-- Modal -->
                <div class="modal" id="show_dog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Perro mostrado satisfactoriamente</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Recargue la página para ver los cambios aplicados
                        </div>
                    </div>
                    </div>
                </div>
                <!-- Fin de Modal -->
            <!--Fin de perro oculto-->
            {% endif %}
        {% endif %}


    </div>
    <div class="text-left" >    
        <a href="{% url 'profile' user_owner.id %}" class="btn btn-secondary">Atrás</a>
    </div> 
    </div>
</div> 
<div class="col-md-3">
    <div class="container card-izq " > 
        {% if user.is_veterinario %}
        <a href="{% url 'attentions_list' dog_id=dog.id client_id=user_owner.id %}" class="btn btn-info">Ver atenciones</a>
        
        
        <hr>
        <a href="{% url 'attention_form' dog_id=dog.id client_id=user_owner.id %}" class="btn btn-primary">Registrar atención</a><br><br><br><br>
        {% endif %}
    </div>
    
    <div class="container card-izq " >    
            
        <a href="{% url 'vaccinations' dog_id=dog.id client_id=user_owner.id %}" class="btn btn-info">Ver libreta de vacunación</a><br>
        
        {% if user.is_veterinario %}
        <hr>
        <a href="{% url 'vaccination_form' dog_id=dog.id client_id=user_owner.id %}" class="btn btn-primary">Registrar vacuna</a><br>
        {% endif %}
    </div>
      
</div>
</div>



    <script>
        

        $(document).on('click', '#hide_or_show_dog_button', function(){
            $.ajax({
                type:'POST',
                url:"{% url 'hide_or_show_dog' dog.id %}",
                data:{
                    //dog: $('#dog').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    action: 'post',
                },
                success: function(response){

                },
                error: function(response){
                    alert("sucedió un error")
                }
            })
        })

    </script>
    

    

</main>

{% endblock  %}