<!-- templates/home.html -->

{% extends 'home.html' %}   <!-- indica que hereda de base.html-->

{% block content %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>

<main>
    

    <div class="container card-izq " >
    <div class="row row-1">
        <div class="col-md-9">
        <div class="card mb-3">
            <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                <h6 class="mb-0">Nombre</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                {{ dog.name }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                <h6 class="mb-0">Edad</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                {{ dog.age }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                <h6 class="mb-0">Sexo</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                {{ dog.sex }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                <h6 class="mb-0">Raza</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                {{ dog.breed }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                <h6 class="mb-0">Color</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                {{ dog.color }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                <h6 class="mb-0">Tamaño</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                {{ dog.size }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                <h6 class="mb-0">Descripción</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                {{ dog.description }}
                </div>
            </div>
            </div>
        </div>
        </div>
        

    <div class="container card-izq " >    
        <a href="{% url 'profile' user_owner.id %}" class="btn btn-primary">Volver</a>
        <a href="{% url 'dog_modification' dog_id=dog.id user_owner_id=user_owner.id %}" class="btn btn-primary">Modificar datos de perro</a>
        <!--<a href="{% url 'profile' user_owner.id %}" class="btn btn-primary" name="hide_dog">Ocultar perro</a>-->
        <button class="btn btn-primary" id="hide_dog_button">Ocultar perro</button>

    </div>

    <script>
        

        $(document).on('click', '#hide_dog_button', function(){
            //var dog_id = dog.id
            $.ajax({
                type:'POST',
                url:"{% url 'hide_dog' dog.id %}",
                data:{
                    //dog: $('#dog').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    action: 'post',
                },
                success: function(response){
                    console.log(response);

                },
                error: function(response){
                    alert("sucedió un error")
                }
            })
        })
    </script>
    

    

</main>

{% endblock  %}