{% extends 'base.html' %}   <!-- baseLogedIn.html?? dado que lo hace el veterinario desde una sesion iniciada-->

{% block content %}
<main>
    <br>
    <div class="col-md-4 mx-auto">
    <h2>Modificacion de datos del perro</h2>
    <form method="post">    <!-- cuando toco el boton "Registrar" se haceun post request -->
        {% csrf_token %}    <!-- seguridad en forms -->
        
        {% for field in form %}
            <p>
                {{field.label_tag}}
                {{field}}

                {% if field.help_text %}
                    <small style="color: grey;">{{field.help_text}}</small>
                {% endif %}
            </p>
        {% endfor %}

        <p style="text-align:center; color:grey"> * campos obligatorios</p>
        
        {% if form.non_field_errors %}
            <div style="color: red; text-align:center">
                <p>{{form.non_field_errors}}</p>
            </div>
        {% endif %}

        {% for field in form %}
            {% for error in field.errors %}
                <p style="color: red; text-align:center">{{error}}</p>
            {% endfor %}
        {% endfor %} 
        
        <div class="text-center">
            <button class="btn btn-primary" >Guardar</button>
        </div>

        
    </form>
    </div>
</main>
        
        



    

{% endblock content %}