{% extends 'base.html' %}   <!-- baseLogedIn.html?? dado que lo hace el veterinario desde una sesion iniciada-->

{% block content %}

<style>
    .text-center {
    text-align: center;
    }
  
    p {
      font-size:20px;
    }
</style>

    <h2 style="text-align:center;">Registrar vacunación</h2>
    <form method="post">    <!-- cuando toco el boton "Registrar" se haceun post request -->
        {% csrf_token %}    <!-- seguridad en forms -->
        
        {% for field in vaccination_form %}
            <p style="text-align:center;">
                {{field.label_tag}}
                {{field}}

                {% if field.help_text %}
                <small style="color: grey;">{{field.help_text}}</small>
                {% endif %}
            </p>
            
        {% endfor %}

        <p style="text-align:center; color:grey"> * campos obligatorios</p>

        {% for field in vaccination_form %}
            {% for error in field.errors %}
                <p style="color: red; text-align:center;">{{error}}</p>
            {% endfor %}
        {% endfor %} 
        
        {% if vaccination_form.non_field_errors %}
        <div style="color: red; text-align:center;">
            <p>{{vaccination_form.non_field_errors}}</p>
        </div>
        {% endif %}

        
        
        <div class="text-center">
            <button class="btn btn-primary" >Registrar</button>
        </div>
    </form>

{% endblock content %}