{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<style>
    table {
        border-collapse: collapse;
        table-layout: fixed;
        width: 100%;
    }
    table td {
        width: 100px;
        word-wrap: break-word;
        font-size: 18px;
    }
    .red-color {
        color: red;
    }
</style>

<main>
    <a href="{% url 'lost_posts' %}" class="btn btn-secondary">Atrás</a>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Mis publicaciones de perdidos</h2>

                <form method="get">
                    {{filter.form}}
                    <button class="btn btn-primary" type="submit">Filtrar</button>
                </form>

                <table class="table table-hover">
                    {% if posts.exists %}
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Edad</th>
                            <th>Sexo</th>
                            <th>Raza</th>
                            <th>Color</th>
                            <th>Tamaño</th>
                            <th>Zona</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in posts %}
                        <tr>
                            <td>{{ post.name }}</td>
                            <td>{{ post.age }}</td>
                            <td>{{ post.sex }}</td>
                            <td>{{ post.breed }}</td>
                            <td>{{ post.color }}</td>
                            <td>{{ post.size }}</td>
                            <td>{{ post.zone }}</td>
                            <td>
                                {% if not post.was_found %}
                                <a href="{% url 'lost_post_modification' post.id %}" class="bi bi-pencil-square btn btn-outline-primary btn-sm"></a>
                                <form method="POST" action="{% url 'delete_lost_post' post.id %}">
                                    {% csrf_token %}
                                    <input name="_method" type="hidden" value="Borrar">
                                    <button type="submit" class="bi bi-trash red-color btn btn-outline-danger btn-sm show_confirm_delete" data-toggle="tooltip" title='Borrar'></button>
                                </form>
                                {% endif %}
                            </td>
                            <td>
                                {% if post.was_found %}
                                <button type="button" class="btn btn-success btn-sm" disabled>Encontrado!</button>
                                {% else %}
                                <form method="POST" action="{% url 'mark_as_found' post.id %}">
                                    {% csrf_token %}
                                    <input name="_method" type="hidden" value="Marcar">
                                    <button type="submit" class="btn btn-success btn-sm show_confirm_found" data-toggle="tooltip" title='Marcar como encontrado'>Marcar como encontrado</button>
                                </form>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    {% else %}
                    <p style="text-align:center;">
                        No hay publicaciones para ver
                    </p>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $('.show_confirm_delete').click(function(event) {
            var form = $(this).closest("form");
            var name = $(this).data("name");
            event.preventDefault();
            swal({
                title: `¿Estas seguro de borrar esta publicación?`,
                text: "Si lo borras, desaparecerá para siempre",
                icon: "warning",
                buttons: ['Cancelar', 'Borrar'], //primer boton del array es 'cancel' y segundo 'confirm'
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    form.submit();
                }
            });
        });

        $('.show_confirm_found').click(function(event) {
            var form = $(this).closest("form");
            var name = $(this).data("name");
            event.preventDefault();
            swal({
                title: `¿Estas seguro de marcar esta publicación como encontrado?`,
                text: "No podrás deshacer tu elección",
                icon: "warning",
                buttons: ['Cancelar', 'Si'], //primer boton del array es 'cancel' y segundo 'confirm'
            })
            .then((willDelete) => {
                if (willDelete) {
                    form.submit();
                }
            });
        });
    </script>
</main>
</html>
{% endblock content %}
