<!-- templates/registration/login.html -->
<!-- se agrega una carpeta "registration" porque django por defecto busca el registro en ella-->

{% extends 'base.html' %}

{% block header %}
    

{% endblock %}

{% block content %}

<style>
    .text-center {
    text-align: center;
  }

  p {
    font-size:20px;
  }
</style>


<main>
    <br>
    <h2 style="text-align:center;">Inicio de sesión</h2>
    <form method="post">    <!-- cuando toco el boton "Registrar" se haceun post request -->
        {% csrf_token %}    <!-- seguridad en forms -->
        {% for field in login_form %}
            <p style="text-align:center;">
                {{field.label_tag}}
                {{field}}

                {% if field.help_text %}
                    <small style="color: grey;">{{field.help_text}}</small>
                {% endif %}
            </p>
        {% endfor %}
        {% for field in login_form %}
            {% for error in field.errors %}
                <p style="color: red; text-align:center;">{{error}}</p>
            {% endfor %}
        {% endfor %}   

        {% if login_form.non_field_errors %}
            <div style="color: red; text-align:center;">
                <p>{{login_form.non_field_errors}}</p>
            </div>
        {% endif %}
        <div class="text-center">
            <button class="btn btn-primary">Iniciar sesión</button>
        </div>
        
    </form> 
    <div class="text-center">
        <a href="{% url 'password_reset' %}"><i>¿Olvidaste tu contraseña?</i></a>
    </div>
    
</main>

    

{% endblock content %}