<!-- templates/registration/login.html -->
<!-- se agrega una carpeta "registration" porque django por defecto busca el registro en ella-->

{% extends 'baseLogedIn.html' %}

{% block content %}
<header>
    <nav class="navbar navbar-expand-lg  header-ar">
        <div class="container">
            <p class="navbar-brand header__marca p-2">Oh My Dog!</p>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
        </div>
    </nav>
</header>
<main>
    <h2>Inicio de sesión</h2>
    <form method="post">    <!-- cuando toco el boton "Registrar" se haceun post request -->
        {% csrf_token %}    <!-- seguridad en forms -->
        {% for field in login_form %}
            <p>
                {{field.label_tag}}
                {{field}}

                {% if field.help_text %}
                    <small style="color: grey;">{{field.help_text}}</small>
                {% endif %}
            </p>
        {% endfor %}
        {% for field in login_form %}
            {% for error in field.errors %}
                <p style="color: red;">{{error}}</p>
            {% endfor %}
        {% endfor %}   

        {% if login_form.non_field_errors %}
            <div style="color: red;">
                <p>{{login_form.non_field_errors}}</p>
            </div>
        {% endif %}
 
        <button type="submit">Iniciar sesión</button>
        
    </form> 


</main>

{% endblock content %}