{% extends 'base.html' %}

{% block content %}

<style>
    .text-center {
    text-align: center;
    }
  
    p {
      font-size:20px;
    }
    table {
        border-collapse: collapse;
        table-layout: fixed;
        width: 310px;
    }
    table td {
        width: 110px;
        word-wrap: break-word;
    }
</style>

<main>
<br>
<div>         
    <a href="{% url 'guard_form' %}" class="btn btn-secondary">Volver</a>
</div> 
    <h2 class="text-center">Guardias</h2>
                {% if guards.exists %}  
                  <table class="table table-hover">
                      <thead>
                          <tr>
                              <th>Nombre</th>
                              <th>Direccion</th>
                              <th>Dia</th>
                              <th></th>


                          </tr>
                      </thead>
                      <tbody>
                      
                          {% for guard in guards %}
                                <tr>

                                    <td>{{ guard.vet }}</td>
                                    <td>{{ guard.address }}</td>
                                    <td>{{ guard.date_of_guards }}</td>
                                    <td><a href="{% url 'guard_register_modification' guard.id %}" class="btn btn-danger">Modificar</a></td>
                                

                                </tr>
                            
                          {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <tr>
                        <p class="text-center">
                            No hay guardias registradas.
                        </p>
                        
                    </tr>
                {% endif %}
                
            
        
</main>

{% endblock  %}