<!-- templates/home.html -->

{% extends 'base.html' %}   <!-- indica que hereda de base.html-->

{% block content %}


<style>

    .text-right {
      text-align: right;
    }
    table {
        border-collapse: collapse;
        table-layout: fixed;
        width: 310px;
    }
    table td {
        width: 110px;
        word-wrap: break-word;
    }

</style>


<main>
    
  <a href="{% url 'list_users' %}" class="btn btn-secondary">Atrás</a>
<div class="container card-izq " >
  <div class="row row-1" >
    <div class="col-md-3" >
      <div class="card">
        <div class="card-body">
          
          <h5>{{ client.name }} {{ client.surname }}</h5>
          <p class="text-secondary">{{ client.email }}</p>
          <p class="text-muted">{{ client.bio }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Nombre Completo</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              {{ client.name }} {{ client.surname }}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Correo Electrónico</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              {{ client.email }}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Dirección</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              {{ client.address }}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Teléfono</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              {{ client.telephone }}
            </div>
          </div>
          {% if not client.is_veterinario %}
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Descuento</h6>
            </div>
            
            <div class="col-sm-9 text-secondary">
                {% if client.has_discount %}
                  10% en la próxima atención
                {% else %}
                  Ninguno
                {% endif %}
            </div>
            
          </div>
          {% endif %}
        </div>
      </div>


      
        <h2 class="text-center">Lista de perros del usuario:</h2>
        <div>
          {% if vet.is_veterinario %}
    
            <a href="{% url 'dog_registration' client.id %}" class="btn btn-primary">Registrar Perro</a>
            <a href="{% url 'hidden_dogs' client.id %}" class="btn btn-dark">Ver perros ocultos</a>
          {% endif %}
        </div>
          {% if dogs_shown.count > 0 %}
                  <table class="table table-hover">
                      <thead>
                          <tr>
                              <th>Nombre</th>
                              <th>Edad</th>
                              <th>Sexo</th>
                              <th>Raza</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for dog in dogs_shown %}

                                <tr>

                                    <td>{{ dog.name }}</td>
                                    <td>{{ dog.calculate_age }}</td>
                                    <td>{{ dog.sex }}</td>
                                    <td>{{ dog.breed }}</td>
                                    <td>
                                      <a class="dropdown-item" href="{% url 'dog_profile' user_owner_id=client.id dog_id=dog.id %}">Ver perro</a>
                                    </td>


                                </tr>
              
                          {% endfor %}
                      </tbody>
                  </table>
            {% else %}
            <div>
              <a>No hay ningún perro para ver</a>
            </div>
            {% endif %}
      </div>
    </div>
      
    
  </div>
  
  </div>
  



</main>

{% endblock  %}