{% extends 'baseLogedIn.html' %}   <!-- baseLogedIn.html?? dado que lo hace el veterinario desde una sesion iniciada-->

{% block content %}

    <h2>Modificacion de datos</h2>
    <form method="post">    <!-- cuando toco el boton "Registrar" se haceun post request -->
        {% csrf_token %}    <!-- seguridad en forms -->
        
        {% for field in account_form %}
            <p>
                {{field.label_tag}}
                {{field}}

                {% if field.help_text %}
                    <small>{{field.help_text}}</small>
                {% endif %}
            </p>
        {% endfor %}

        {% for field in account_form.errors %}
            {% for error in field.errors %}
                <p>{{error}}</p>
            {% endfor %}
            </p>
        {% endfor %} 
        
        {% if account_form.non_field_errors %}
            <p>{{account_form.non_field_errors}}</p>
        {% endif %}
        <button type="submit">Guardar</button>
    </form>

{% endblock content %}