<!-- templates/registration/login.html -->
<!-- se agrega una carpeta "registration" porque django por defecto busca el registro en ella-->

{% block title %}Inicio de sesión{% endblock title %}

{% block content %}
    {% if form.errors %}        <!-- si el form da error (mail y cña ingresados no matchean) imprime: -->
        <p>Los datos ingresados no son validos, por favor intentelo de nuevo.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Tu cuenta no tiene acceso a esta página. Para continuar,
        por favor inicie sesión para acceder.</p>
        {% else %}
        <p>Por favor inicia sesión para ver esta página.</p>
        {% endif %}
    {% endif %}

    <h2>Oh My Dog!: Inicio de sesión</h2>
    <form method="post" action="{% url 'login' %}"> <!-- se especifica el method "post" porque se envía data al servidor, si se recibiera sería "get"-->
    {% csrf_token %}    <!-- cuestiones de seguridad -->
    <table>
      <tr>
        <td>Mail:</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>Contraseña:</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="Iniciar sesión">
    <input type="hidden" name="next" value="{{ next }}">
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a></p>

{% endblock content %}