{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />


    <script>
        function setProgressBarWidth(actual, target) {
          const progressBar = document.getElementById('progress-bar');
          const calculo = (actual / target) * 100
          progressBar.style.width = calculo + '%';
          progressBar.textContent = calculo + '%';

        }
    </script>

</head>
<style>
    .card {
        width: 100%;
        margin-bottom: 20px;
    }

    .card-img-top {
        height: 400px;
        object-fit: cover;
    }

    .card-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .card-text {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .card-description {
        font-size: 14px;
        color: #888;
    }
</style>

<main>
    {% if user.is_authenticated and user.is_veterinario %}
    <div class="text-left">
        <a href="{% url 'campaign_form' %}" class="btn btn-primary">Publicar campaña de donación</a>
    </div>
    {% endif %}
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h2 class="text-center">Campañas de donación</h2>

                {% for campaign in campaigns %}
                <div class="col-md-12">
                    <div class="card">

                        {% if campaign.image %}
                        <img src="{{ campaign.image.url }}" class="card-img-top" alt="Imagen del post">
                        {% endif %}

                        <div class="card-body">
                            <h5 class="card-title">{{ campaign.campaign_name }}</h5>
                            <p class="card-text" style="font-size: 20px;">Descripción: {{ campaign.description }}</p>
                            <p class="card-text" style="font-size: 20px;">Fecha objetivo: {{ campaign.target_date }}</p>
                            <p class="card-text" style="font-size: 20px;">
                                Dinero objetivo: {{ campaign.target_money }}
                                {% if campaign.target_money <= campaign.actual_money %}
                                    (¡Logrado!)
                                {% endif %}
                            </p>
                            <p class="card-text" style="font-size: 20px;">Reacudación actual: {{ campaign.actual_money }}</p>
                            
                            <div class="progress" style="height: 20px;">
                                {% if campaign.target_money > campaign.actual_money %}
                                    <div id="progress-bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div> 
                                    
                                    <script>
                                        const actual = {{campaign.actual_money}};
                                        const target = {{campaign.target_money}};
                                        setProgressBarWidth(actual, target);
                                    </script>

                                {% else %}
                                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%">Logrado</div>    
                                {% endif %}
                                </div>

                            
                            <!-- Botones y funcionalidades -->
                            <div class="text-center">
                                {% if user.is_authenticated and user.is_veterinario %}
                        
                                <a href="{% url 'campaign_modification' campaign.id %}" class="bi bi-pencil-square btn btn-outline-primary btn-sm"></a>
                                
                                <form method="POST" action="{% url 'delete_campaign' campaign.id %}">
                                    {% csrf_token %}
                                    <input name="_method" type="hidden" value="Borrar">
                                    <button type="submit" class="bi bi-trash red-color btn btn-outline-danger btn-sm show_confirm_delete" data-toggle="tooltip" title='Borrar'></button>
                                </form>

                                {% endif %}
                            </div>
                        </div>

                        <div class="card-footer">
                            <div class="text-center">
                                
                                    {% if campaign.target_money > campaign.actual_money %}
                                    <a href="{% url 'donate' campaign.id %}" class="btn btn-primary">
                                        Donar
                                    </a>
                                    {% else %}
                                    <a href="{% url 'donate' campaign.id %}" class="btn btn-secondary">
                                        Continuar donando
                                    </a>
                                        
                                    {% endif %}

                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script type="text/javascript">


        $('.show_confirm_delete').click(function(event) {
            var form = $(this).closest("form");
            var name = $(this).data("name");
            event.preventDefault();
            swal({
                title: `¿Estas seguro de borrar esta colecta?`,
                text: "Si la borras, desaparecerá para siempre",
                icon: "warning",
                buttons: ['Cancelar', 'Borrar'], //primer boton del array es 'cancel' y segundo 'confirm'
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    form.submit();
                }
            });
        });

        


    </script>
</main>
</html>
{% endblock content %}